.button-link {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;

    border: 2px solid #0A75BC;
    border-radius: 50px;

    color: #0A75BC;
    font-weight: 700;
    background-color: #ffffff;

    @media screen and (min-width: 768px) {
        font-size: 20px;
       
    } 
}

.button-link--end {
    align-self:flex-end;
}

.button-link:hover,
.button-link:focus {
    color: #ffffff;
    background-color: #0A75BC;
}

.button-link__icon {
    fill: currentColor;
}
