    $text-color: #231F20;
    $reverse-text-color: #FFFFFF;

    $background-color-main: #FCE029;
	$background-color-dark: #231F20;
	$background-color-modal: rgba(0, 0, 0, 0.2);

	$link-icon-fill: #949699;
	$link-icon-revfill: #FFFFFF;

	$conditions-color: #0A75BC;
	$conditions-subcolor: #A87A51;

	@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');
	